:root {
    --openpose-editor-font-family: -apple-system, BlinkMacSystemFont, Tahoma,
        Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,
#root {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#root * {
    font-family: var(--openpose-editor-font-family);
}
